<form action="/handleTool" method="post">

    <div>
        <label for="">Key googleapis</label>
        <input type="text" name="key" id="key">
    </div>


    <div>
        <label for="">List id</label>
        <input type="text" style="width:100%; height:20px" name="list_id" id="list_id" autocomplete="off">
    </div>

    <div>
        <label for="">List customs</label>
        <input type="text" style="width:100%; height:20px" name="list_custom" id="list_custom" autocomplete="off">
    </div>

    <button>
        Create file m3u8
    </button>

</form>